.form-container {
    margin: 0 auto;
    max-width: 600px;
    width: 100%;
    background-color: var(--background-color);
    padding: 30px;
    border-radius: 8px;
}

.form-input-group {
    margin-bottom: 15px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
}

.form-input, .form-textarea, .form-select {
    color: var(--text-color);
    width: 100%;
    padding: 10px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: #fff;
    font-weight: 500;
}

.form-radio-container {
    margin-bottom: 20px;
}

.form-radio-group-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-radio-label {
    display: block;
    margin-bottom: 10px;
    font-size: 16px;
    line-height: 24px;
    color: var(--text-color);
    position: relative;
    padding-left: 25px;
    cursor: pointer;
    user-select: none;
}

.form-radio-input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.form-radio-label .form-radio-input:checked ~ .radio-checkmark {
    background-color: #2196F3;
    border-color: #2196F3;
}

.radio-checkmark {
    position: absolute;
    top: -1px;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
    border: 2px solid #ccc;
}

.radio-checkmark:after {
    content: "";
    position: absolute;
    display: none;
    top: 50%;
    left: 50%;
    width: 11px;
    height: 11px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background: white;
}

.form-radio-label .form-radio-input:checked ~ .radio-checkmark:after {
    display: block;
}

.form-submit-button {
    text-align: center;
    width: 100%;
    padding: 12px 20px;
    background-color: #4CAF50;
    color: white;
    font-weight: 500;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 23px;
}

/* confirm password */
.invalid {
    border-color: red;

}
.invalid:focus {
    box-shadow: 0 0 10px red;
    outline: 1px solid red;
}

#togglePassword {
    background: none;
    border: none;
    font-size: 18px;
    cursor: pointer;
    margin-left: 8px;
}